/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root{
    --page-color:#1E1E1E;
    --primary-color: #1D1825;
    --secondary-color:#9E78CF;
    --text-color: #ffffff;
    --task-bg-color: #15101C;
    --done-task-color: #59fd93;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: var(--page-color);
    color: var(--text-color);
    font-family: monospace;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* ::after, ::before {
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    width: 35px;
    height: 35px;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    padding: .2em;
    /* border: 2px solid red; */
    /* z-index: 0; */
}

.input::placeholder {
    font-family: monospace;
    font-size: larger;
    font-weight: 700;
  }

.icons:hover{
    background-color: var(--primary-color);
    border-radius: 50%;
}



/* ===TYPOGRAPHY=== */

.title{
    text-align: center;
}



/* ====Layout====== */
.title-container{
    margin: 1em 0 1em 0;
    font-size: 2rem;
    font-weight: 800;
}
#container{
    width: 85%;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: .5em 1em;
    font-weight: 700;
    font-size: 1rem;
    /* background-color: red; */
}

.Inner-container{
    /* border: 1px solid white; */
    width: 100%;
}

#form_container{
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
    padding: 1em 0;
    margin-bottom: 1.5em;
    width: 100%;
    /* border: 2px solid yellow; */
}


.input,button{
    padding: 8px;
    border-radius: 8px;
}



input{
    width:75%; 
    background-color: var(--primary-color);
    border: none;
    outline: 3px solid var(--secondary-color);
    color: inherit;
}

button{
    width: 50px;
    background-color: var(--secondary-color);
    border: none;
}

.task-heading, 
finished-tasks{
    margin-bottom: 1em;
}

.li-style{
  /* border: 2px solid var(--secondary-color); */
  padding: 1em; 
  margin: 1em 0;  
  background-color: var(--task-bg-color);
  border-radius: 10px;
  color: var(--secondary-color);

}

p{
    /* text-align: justify; */
    font-size: 1rem;
}

.done{
    text-decoration: line-through;
    color: var(--done-task-color);

}

.reset-section {
    text-align: center;
    
}

.r-btn {
    margin-top: 10px;
    padding: 1.1em;
    width: 30%;
    font-weight: 800;
    color:var(--text-color);
    display:none;
}

.show{
 display: unset;
}

button:hover{
 
    cursor: pointer;
}

button:active{
    background-color: darkmagenta;
}



@media only screen and (min-width: 480px ) {

    #container{
        width: 550px;
        max-width: 50%;

    }


    input{
        flex-basis:85%; 
    }

    .r-btn {

        width: 20%;
    }

    p{
        /* text-align: justify; */
        font-size: 100%;
    }
    
}